* {
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
}

.view-high-scores, .timer {
    margin: 15px 15px;
}

main {
    margin-top: 80px;
}

main section {
    text-align: center;
    width: 75%;
    margin: 50px auto;
}

.title-question {
    font-size: 25px; 
}

